.about-company {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 94px;

  @include vp-1023 {
    padding-bottom: 80px;
  }

  @include vp-767 {
    padding-bottom: 79px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    color: $BlackPearl;
    margin: 0 0 20px 0;

    &:last-child {
      margin: 0;
    }

    @include vp-1023 {
      margin: 0 0 18px 0;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.about-company__picture-wrapper {
  flex-shrink: 0;
  width: 150px;
  margin-right: 8%;
  background-color: transparent;

  @include vp-1023 {
    margin-right: 4%;
  }
}

.about-company__image {
  display: inline-block;
  height: 100%;
}

.about-company__inner {
  flex-shrink: 1;
}

.about-company__title {
  font-family: $ff-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $BlackPearl;
  margin: 0 0 15px;

  @include vp-1023 {
    margin: -4px 0 12px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    margin: 0 0 11px;
  }
}

.about-company__text-wrapper {
  margin-bottom: 40px;

  @include vp-1023 {
    margin-bottom: 17px;
  }

  @include vp-1023 {
    margin-bottom: 13px;
  }
}

.about-company__button {
  display: inline-block;
  font-family: $ff-title;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  color: $DeepSkyBlue;
  padding: 13px 51px;
  border: 1px solid $DeepSkyBlue;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    color: $Whisper;
    background-color: $DeepSkyBlue;
  }

  @include vp-1023 {
    padding: 13px 48px;
  }

  @include vp-767 {
    margin-top: -3px;
    padding: 9px 40px;
  }
}
