.contact-link {
  font-family: $ff-text;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $AthensGray;
  display: flex;
  padding-right: 14px;

  @include vp-1023 {
    padding: 0;
  }
}

.contact-link__span {
  margin-left: 15px;
}

.contact-link__img {
  margin-right: 14px;

  @include vp-767 {
    margin-right: 0;
  }
}
