.contact-link {
  font-family: $ff-text;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $AthensGray;
  display: flex;
  align-items: center;
}

.contact-link__span {
  margin-left: 15px;
}
