[data-offer="1"] {
  background-image: url("../img/card-background-1.webp");
}

[data-offer="2"] {
  background-image: url("../img/card-background-2.webp");
}

[data-offer="3"] {
  background-image: url("../img/card-background-3.webp");
}
