.main-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: calc(30 / 580 * 100%);
  grid-row-gap: 21px;
  width: 92.8%;
  z-index: 10;

  @include vp-1023 {
    width: 100%;
    grid-row-gap: 20px;
  }

  @include vp-767 {
    gap: 0;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);
  }
}

.main-form__input {
  background-color: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  padding: 15px;
  color: $color-default-white;

  @include vp-767 {
    width: 100%;
    margin-bottom: 22px;

    &:last-child {
      margin: 0;
    }
  }

  &::placeholder {
    font-family: $ff-text;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-default-white;
  }

  &--textarea {
    grid-column: 1 / -1;
    padding: 24px 15px 20px;

    @include vp-1023 {
      padding: 31px 15px 14px;
    }

    @include vp-767 {
      padding: 22px 15px 47px;
    }
  }
}

.main-form__button {
  background-color: $BlackPearl;
  border-radius: 3px;
  border: none;
  font-family: $ff-title;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  padding: 13px 0;
  margin-top: 14px;
  width: 96.5%;
  grid-column: 1 / 2;
  grid-row: -1 / -2;

  &:hover {
    color: $BlackPearl;
    background-color: $color-default-white;
  }

  @include vp-1023 {
    margin-top: 15px;
    padding: 16px 0 10px;
    width: 83%;
  }

  @include vp-767 {
    margin: 8px 0 3px;
    padding: 15px 0 11px;
    width: 100%;
    grid-column: 1 / -1;
    grid-row: -3 / -2;
  }
}

.main-form__checkbox-label {
  position: relative;
  top: 14px;
  left: 10px;
  font-family: $ff-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
  display: flex;
  align-items: center;
  grid-column: -2 / -1;
  grid-row: -1 / -2;

  @include vp-1023 {
    top: 10px;
    left: 0;
  }

  @include vp-767 {
    top: 22px;
    left: 5px;
    grid-column: 1 / -1;
    grid-row: -1 / -2;
  }

  &::before {
    content: "";
    display: inline-block;
    border: 1px solid $color-default-white;
    border-radius: 2px;
    min-width: 15px;
    height: 15px;
    margin-right: 12px;

    @include vp-1023 {
      margin-right: 10px;
    }

    @include vp-767 {
      margin: 0 10px 6px 0;
    }
  }

  &::after {
    width: 8px;
    height: 3px;
    transform: rotate(-45deg);
    border-left: 2px solid $color-default-white;
    border-bottom: 2px solid $color-default-white;
    position: absolute;
    top: 46%;
    left: 4px;

    @include vp-767 {
      top: 36%;
    }
  }
}

.main-form__checkbox {
  appearance: none;
}

.main-form__checkbox:checked + .main-form__checkbox-label::after {
  content: "";
}

.main-form__checkbox:focus:not(:checked) + .main-form__checkbox-label::before {
  outline: 3px solid $color-default-white;
}
