.navigation__list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0 5% 0 6%;

  @include vp-1023 {
    justify-content: flex-end;
    margin: 0;
    padding: 0 0 9px 0;
  }

  @include vp-767 {
    justify-content: flex-end;
    margin-right: 20px;
    padding: 1px 0 0 0;
  }
}

.navigation__item {
  @include vp-1023 {
    margin-right: 22px;
    padding: 0;

    &:last-child {
      margin: 0;
    }
  }

  @include vp-767 {
    margin-right: 40px;
  }
}
