.container {
  width: calc((1920 - 700) / 1920 * 100%);
  min-width: 950px;
  max-width: 1220px;
  margin: 0 auto;

  @include vp-1023 {
    width: calc((770 - 100) / 770 * 100%);
    min-width: 670px;
  }

  @include vp-767 {
    width: calc(270 / 320 * 100%);
    min-width: auto;
  }
}
